/* General Styles */
body {
    font-family: candara light;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: rgb(231, 154, 179);
    background-image: linear-gradient(to bottom, rgb(252, 184, 205), rgb(216, 82, 138));
    
}

img {
    height: 25%;
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    border: 5px solid #222222;
    
}

header {
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    
}

h1, h2{
    text-decoration-line: underline;
    text-decoration-color: rgb(21, 21, 21);
    text-decoration-style: wavy;
}
h2{
    font-size: 30px;
}

p{
    padding-left: 30px;
    padding-right: 30px;
    font-family: ink free;
    font-weight: bold;
    

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    text-decoration: underline;
    font-weight: bolder;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(230, 218, 239, 0.863);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 25px solid transparent;
    padding: 15px;
    border-image: url(flowers.jpeg) 35 repeat;

}

table{
    text-align: center;
    align-items: center;
    border: 3px solid;
    width: 100%;
}
th{
    text-align: center;
    font-size: 23px;
    font-weight: bolder;
    text-decoration: underline;
    border: 3px solid;
    width: 25%;

}
td{
    text-align: center;
    border: 3px solid;
    padding: 10px;
}

button {
    background-color: #12b97b; 
    color: rgb(4, 20, 10);
    padding: 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: blanchedalmond;
    color: #302d31
}

footer {
    background-color: #333;
    color: white;
    text-align: left ;
    padding: 7px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
    header, footer {
        padding: 10px;
    }

    nav ul li {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    section {
        padding: 10px;
        margin: 10px;
    }
}
